# shellcheck disable=SC2119,SC2120,SC2148
export DISCORD_TOKEN=""
export DISCORD_ADMIN_USER_ID=""
export DISCORD_ADMIN_USER_INVITED=false
export DISCORD_SERVER_ID=""
export DROPBOX_CEREBRO_TOKEN=""
export DROPBOX_CEREBRO_APP_KEY=""
export DROPBOX_CEREBRO_APP_SECRET=""
export DROPBOX_CEREBRO_OAUTH_ACCESS_TOKEN=""
