imageio
scenedetect[opencv]
dask
matplotlib
Pillow
pip-tools
loguru
validators
tqdm
requests
transformers
tokenizers
simpletransformers
pydantic[email]
passlib[bcrypt]
Unidecode
python-slugify
pretty_errors
pygments<2.8
rich
# https://github.com/disqus/gutter
# Gutter is feature switch management library. It allows users to create feature switches and setup conditions those switches will be enabled for. Once configured, switches can then be checked against inputs (requests, user objects, etc) to see if the switches are active.
gutter
logging_tree
better_exceptions
uritools
uritemplate
factory-boy
tenacity
pyinspect
aiohttp
aiosql
pytz
# discord.py==1.7.3
youtube_dl
gallery-dl
# https://github.com/dbrattli/aioreactive
# Aioreactive is RxPY for asyncio. It's an asynchronous and reactive Python library for asyncio using async and await. Aioreactive is built on the Expression functional library and, integrates naturally with the Python language.
aioreactive
dropbox
# A flexible, customizable timer for your Python code
codetiming
markdown
aiosqlite
aiohttp-json-rpc
# https://github.com/aio-libs/aiomonitor
aiomonitor
aiodebug
# https://github.com/checkr/flagr (golang)
# https://github.com/checkr/pyflagr (flagr client)
typer
aiofiles
aiocache
click-spinner
# tabulate
aioprometheus[starlette]
fastapi[all]
# attrs is the Python package that will bring back the joy of writing classes by relieving you from the drudgery of implementing object protocols (aka dunder methods). Trusted by NASA for Mars missions since 2020!
attrs
memory_profiler
telnetlib3
python-dotenv>=0.19.2
aiodns
