-c requirements.txt
pathlib_mate
isort
pdbpp
black
pre-commit
mccabe>=0.6.0,<0.7.0
# SOURCE: https://github.com/ionelmc/python-lazy-object-proxy
# NOTE: from yelp/Tron originally
lazy-object-proxy
autopep8
MonkeyType
pylint
restructuredtext_lint

# NOTE: autoflake removes unused imports and unused variables from Python code. It makes use of pyflakes to do this.
# SOURCE: https://pypi.org/project/autoflake/
autoflake


# SOURCE: https://github.com/jendrikseipp/vulture
# NOTE: Vulture finds unused code in Python programs. This is useful for cleaning up and finding errors in large code bases. If you run Vulture on both your library and test suite you can find untested code.
vulture

# FreezeGun is a library that allows your Python tests to travel through time by mocking the datetime module.
freezegun

# Hunter is a flexible code tracing toolkit, not for measuring coverage, but for debugging, logging, inspection and other nefarious purposes. It has a simple Python API, a convenient terminal API and a CLI tool to attach to processes.
# SOURCE: https://pypi.org/project/hunter/
hunter

# https://www.pyinvoke.org/
invoke
unittest2pytest
# sqlalchemy-stubs
bpython
# vscode debugger
debugpy
codecov
types-freezegun
types-six
types-pytz
# types-Pillow
types-PyYAML
types-click
types-colorama
types-dataclasses
types-requests
types-setuptools
types-mock
bandit
types-aiofiles
tomli==1.2.2
docutils<0.17
