fer==22.4.0
ffpyplayer==4.3.5
matplotlib
mediapipe==0.9.3.0
mss==6.1.0
numpy
scipy
better_exceptions
logging_tree
loguru
lxml
pip-tools
pydantic[emaildotenv]
pygments
pyinspect
pytablewriter[html]
python-Levenshtein
python-dotenv>=0.19.2
python-slugify
pytz==2023.2
requests
rich
scenedetect[opencv]
tenacity
tqdm
typer
uritemplate
uritools
webcolors
websockets
tensorboard==2.12.0
aiohttp
Pillow
transformers[torch]
