# dependencies for test
# -c requirements.txt
-c requirements-dev.txt
pytest==7.2.0
pytest-cov==4.0.0
pytest-sugar==0.9.4
pytest-mock==3.7.0
pytest-leaks==0.3.1
pytest-mypy==0.9.1
pytest-flake8==1.1.1
pytest-black==0.3.12
pytest-watch==4.2.0
pytest-dotenv==0.5.2
pytest-env==0.6.2
pytest-timeout==2.1.0
pytest-clarity==1.0.1
pytest-console-scripts
types-mock
pytest-rerunfailures
python-dotenv>=0.19.2
tomli==1.2.2
flake8==4.0.1
pycodestyle==2.8.0
pyflakes==2.4.0
