# shellcheck disable=SC2119,SC2120,SC2148
export DISCORD_TOKEN=""
export DISCORD_ADMIN_USER_ID=""
export DISCORD_ADMIN_USER_INVITED=false
export DISCORD_SERVER_ID=""
export DROPBOX_AIODROPBOX_TOKEN=""
export DROPBOX_AIODROPBOX_APP_KEY=""
export DROPBOX_AIODROPBOX_APP_SECRET=""
export DROPBOX_AIODROPBOX_OAUTH_ACCESS_TOKEN=""
export TWEETPIK_AUTHORIZATION=""
export TWEETPIK_BUCKET_ID=""
